div#header
    a(href="/") Home
    | 
    a(href="/users") Users
    | 
    if logged == false || logged == undefined || logged == null
        a(href="/register") Register
        | 
    if logged == true
        a(href= "/orderform") Order Food
        | 
    if logged == true
        a(href= "/logout") Logout
        | 
    if logged == true
        br
        br
        a 
        | Hello #{username}, 
        a(href="/users/" + id) click here to view your profile
        br
    if logged ==false || logged == undefined || logged == null
        br
        br
        form(method = 'POST' action='/login')
            .form-group
                label(for='username') Username:
                input#name.form-control(type='text' name='username')
                | 
                label(for='password') Password:
                input#password.form-control(type='password' name='password')
                | 
                button.btn.btn-primary(type='submit') Log In
    